:root {
    --color-light: #f8f9fa;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
    background-color: var(--color-light);
}
