.error-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.error-message {
	padding: 20px 40px;
	text-align: center;
	background-color: var(--color-error-light);
	box-shadow: var(--box-shadow);
	color: var(--color-white);
	border-left: 7px solid var(--color-error-dark);
}
